@import "../../styles/variables";

.root {
  font-size: 16px;
  line-height: 21px;
  font-family: $PT-Sans;
  padding: 6px 30px 6px 30px;
  background-color: $basic-blue;
  color: $basic-white;
  border: none;
  border-radius: 4px;
  transition-property: background-color;
  transition-duration: 0.3s;

  &:hover {
    background-color: $light-blue;
  }

  &:active {
    background-color: $dark-blue;
    color: rgba($color: $basic-white, $alpha: 0.6);
  }
}

.variantSubmit {
  padding: 11px 22px 11px 22px;
  font-size: 20px;
}

.icon {
  margin-right: 6px;
}

.icon svg {
  fill: currentColor;
}
