.fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.fieldset:not(:last-of-type) {
  margin-bottom: 32px;
}

.legend {
  margin-bottom: 15px;
}

.checkbox {
  display: block;
}

.checkbox:not(:last-child) {
  margin-bottom: 27px;
}

.textarea {
  width: 100%;
}

.button {
  margin-top: 64px;
  width: 100%;
}
