// colors
$basic-white: #ffffff;
$basic-black: #000000;
$basic-blue: #0078bb;
$light-blue: #62b9ea;
$dark-blue: #0a6ea6;
$basic-grey: #808080;

//borders

$radius: 4px;

$border: 1px solid rgba(0, 0, 0, 0.15);
$border-hover: 1px solid rgba(0, 0, 0, 0.35);
$outline-focus: 2px solid $light-blue;

// breakpoints
$tablet-width: 710px;
$desktop-width: 1100px;
$mobile-width-only: 679px;

//fonts

$PT-Sans: "PT Sans", "Arial", sans-serif;
$PT-Sans-Narrow: "PT Sans Narrow", "Arial", sans-serif;
