@import "../../styles/variables";

.small {
  font-family: $PT-Sans-Narrow;
  margin: 0;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
}

.medium {
  font-family: $PT-Sans-Narrow;
  margin: 0;
  font-weight: 400;
  font-size: 42px;
  line-height: 54px;
}

.large {
  font-family: $PT-Sans-Narrow;
  margin: 0;
  font-weight: 400;
  font-size: 64px;
  line-height: 82px;
}
