@import "../styles/variables";

.description {
  margin-bottom: 48px;

  @media (min-width: $tablet-width) {
    margin-bottom: 33px;
  }
}

.form {
  margin-bottom: 60px;
  grid-row: 2/3;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.gallery {
  grid-row: 1/3;
}

.header {
  margin-bottom: 60px;

  @media (min-width: $tablet-width) {
    margin-bottom: 48px;
  }
}

.container {
  padding-bottom: 110px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 300px;
    column-gap: 40px;
    padding-bottom: 78px;
  }
}
