@import "../../styles/variables";

.title {
  margin-bottom: 10px;
}

.text {
  margin: 0;
  line-height: 20px;
}

.text:not(:last-child) {
  margin-bottom: 48px;

  @media (min-width: $desktop-width) {
    margin-bottom: 40px;
  }
}
