@import "../../styles/variables";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navList {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.navListItem {
  margin-bottom: 15px;
}

.navListItem:not(:last-child) {
  margin-right: 20px;
}

.navLink {
  color: $basic-blue;
  text-decoration: underline;
}
