@import "../../styles/variables";

.root {
  font-size: 16px;
  line-height: 21px;
  padding-left: 34px;
  position: relative;
  cursor: pointer;
}

.checkbox {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 24px;
  height: 24px;
  border: $border;
  border-radius: $radius;

  &::after {
    content: "";
    display: none;
    position: absolute;
    width: 17px;
    height: 7px;
    top: 5px;
    left: 4px;
    border-left: 2px solid $basic-blue;
    border-bottom: 2px solid $basic-blue;
    transform: rotate(-45deg);
  }
}

.checkboxChecked {
  &::after {
    display: block;
  }
}

.input:focus ~ .checkbox {
  outline: $outline-focus;
}

.input:hover ~ .checkbox {
  border: $border-hover;
}
